{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing</title>
    <link rel="stylesheet" href="{% static 'Pricing/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="{% static 'Pricing/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Pricing/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="{% static 'Pricing/vanilla-zoom.min.css' %}">
    <link rel="stylesheet" href="{% static 'Pricing/styles.css' %}">
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
        <div class="container"><img src="{% static 'Pricing/lagrange_mult.png' %}" style="max-width: auto;height: 49px;">
            <a class="navbar-brand logo" href="{% url 'Pricing-home' %}" style="font-weight: bold">Insurance Pricing Game</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Pricing-home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% if messages %}
        <div class="container" style="padding-top: 78px;">
            <br/>
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'info' %}info{% elif message.tags == 'success' %}success{% elif message.tags == 'warning' %}warning{% else %}primary{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
{% endif %}


{% block content %}
{% endblock %}
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% url 'Pricing-home' %}">Home</a></li>
                        <li><a href="{% url 'register' %}">Sign up</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About the Game</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Copyright Text</p>
        </div>
    </footer>
    <script src="{% static 'Pricing/bootstrap.min.js' %}"></script>
    <script src="{% static 'Pricing/baguetteBox.min.js' %}"></script>
    <script src="{% static 'Pricing/vanilla-zoom.js' %}"></script>
    <script src="{% static 'Pricing/theme.js' %}"></script>
</body>
</html>
