{% extends "Pricing/base_enh.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading" style="text-align:center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6"> <!-- Limit to 25% of the screen width -->
                                <h5>Message Centre</h5>
                                <div id="chat-example" class="block-heading" style="text-align:left; border: 3px solid #2196F3; border-radius: 20px; padding: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                                    <!-- Chat interface -->
                                    <input id="chat-message-input" type="text" placeholder="Enter your message">
                                    <button id="chat-message-submit" class="btn btn-outline-dark btn-sm action-button">Send</button>
                                    <div id="chat-log" style="text-align: left">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Decision Centre</h5>
                                    <div class="row"> <!-- Additional nested row for the images -->
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-mktgsales_report' game.game_id %}" class="report-icon" title="Marketing / Sales Report"><img src="{% static 'Pricing/001_mktgsales.png'  %}" alt="Marketing / Sales Report" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-financials_report' game.game_id %}" class="report-icon" title="Financial Statements"><img src="{% static 'Pricing/002_financials.png'  %}" alt="Financial Report" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-industry_reports' game.game_id %}" class="report-icon" title="Industry Reports"><img src="{% static 'Pricing/003_industry.png'  %}" alt="Industry Reports" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-claim_devl_report' game.game_id %}" class="report-icon" title="Claim Development Report"><img src="{% static 'Pricing/004_claim_development.png'  %}" alt="Claim Development Report" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-claim_trend_report' game.game_id %}" class="report-icon" title="Claim Trend Report"><img src="{% static 'Pricing/005_claims.png'  %}" alt="Claim Trend Report" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="#" class="report-icon" title="Segmentation Report"><img src="{% static 'Pricing/006_segmentation.png'  %}" alt="Segmentation Report" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-valuation_report' game.game_id %}" class="report-icon" title="Valuation Report"><img src="{% static 'Pricing/007_diamond.png'  %}" alt="Valuation Report" width="100"></a>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <a href="{% url 'Pricing-decision_input' game.game_id %}" class="report-icon" title="Submit Decisions"><img src="{% static 'Pricing/008_decisions.png'  %}" alt="Decision Input" width="100"></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- JavaScript to enable AJAX-based chat -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    const greenList = {{ green_list | safe }};
        $(document).ready(function() {
            const gameId = "{{ game.game_id }}";  // You can pass game_id through the Django context
            const user = "{{ user.username }}";

        $('#chat-message-submit').click(function() {
            const message = $('#chat-message-input').val();
            const user = "{{ user.username }}";
            const now = new Date();

            // Convert to America/New_York time zone and format the string
            const options = { timeZone: "America/New_York", year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
            const currentTime = now.toISOString().split('T')[0] + " " + now.toTimeString().split(' ')[0];

            $.ajax({
                url: '/send_message/',
                method: 'POST',
                data: {
                    message: message,
                    game_id: gameId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    // No need to append the message to the chat log
                    $('#chat-message-input').val(''); // Clear the input
                }
            });
        });

            // Function to fetch messages
            function fetchMessages() {
                $.ajax({
                    url: '/fetch_messages/',
                    method: 'GET',
                    data: {
                        game_id: gameId,
                    },
                    success: function(data) {
                        $('#chat-log').html('');
                        data.messages.forEach(function(message) {
                            let row = `${message.from_sender} ${message.time}: ${message.content}`;
                            let rowClass = 'chat-row';

                            // Check for special messages
                            if (message.from_sender === "game_server" && message.content === "Review decisions.") {
                                rowClass += ' game-server special-message';
                            }  else if (message.from_sender === "game_server") {
                                // Check if message contains any string from greenList
                                greenList.forEach(function(greenString) {
                                    if (message.content.includes(greenString)) {
                                        rowClass += ' green-message';
                                    }
                                });
                            }
                            else if (message.from_sender === "game_server") {
                                rowClass += ' game-server';
                            }

                            $('#chat-log').prepend('<div class="' + rowClass + '">' + row + '</div>');
                        });
                    }
                });
            }

            // Call immediately to populate on page load
            fetchMessages();

            // Poll for new messages every 2 seconds
            setInterval(fetchMessages, 2000);
        });
    </script>
<style>
  #chat-log {
    height: 200px;
    overflow-y: auto;
    font-family: monospace;
  }
  .chat-row {
    white-space: pre;
  }
  .report-icons {
    display: flex;
    justify-content: space-between; /* Equally space items */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Add some spacing between the message box and icons */
    }
  .game-server {
    color: blue;
  }
  .special-message {
    color: red;
  }
  .green-message {
    color: green;
  }
</style>
{% endblock content %}
