{% extends "Pricing/base_enh.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading" style="text-align:center">
                    <form method="POST">
                        {% csrf_token %}
                        <input class="btn btn-outline-dark btn-lg action-button" type="Submit" name="Back to Game Select" value="Back to Game Select"></input>
                        <input class="btn btn-outline-dark btn-lg action-button" type="Submit" name="Refresh Listing" value="Refresh Listing"></input>
                    </form>
                </div>
                <div class="container" style="text-align: left; font-family: 'Roboto Mono'">
                    <h3 style="font-family: 'Montserrat'">Activated Games (pending start on the server / more players):</h3>
                    <ul>
                        {% for game in active_games %}
                            <li>
                                {{ game.timestamp|date:"Y-m-d H:i:s" }} - {{ game.status|stringformat:"20s" }} - {{ game.game_type|stringformat:"20s" }}
                                {% if game.game_type != "individual" %}
                                     [waiting on {{ game.additional_players_needed }}]
                                {% endif %}
                            </li>
                            {% empty %}
                                <li>No activated games presently.</li>
                                <br/>
                        {% endfor %}
                    </ul>
                    <h3 style="font-family: 'Montserrat'">Click to View Game Details:</h3>
                    <ul id="accessible-games-list">
                        {% for game in accessible_games %}
                            <li>
                                <a href="{% url 'Pricing-game_dashboard' game_id=game.game_id %}">
                                    {{ game.timestamp|date:"Y-m-d H:i:s" }} - {{ game.status|stringformat:"20s" }} - {{ game.game_type|stringformat:"20s" }}
                                </a>
                            </li>
                            {% empty %}
                                <li>No games completed / running presently.</li>
                                <br/>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
