{% extends "Pricing/base_enh.html" %}
{% load static %}
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url({% static 'Pricing/toronto.jpeg' %});color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Welcome to the Insurance Pricing Game.</h2>
                <p>"You don't learn to walk by following rules. You learn by doing, and by falling over.” — Richard Branson</p>
                <form action="." method="POST">
                    {% csrf_token %}
                    <input class="btn btn-outline-light btn-lg action-button" type="Submit" name="Sign Up" value="Sign Up"></input>
                </form>
            </div>
            </section>
                <section class="clean-block about-us">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">About Me</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'Pricing/christopher_cooney.jpg' %}">
                                <div class="card-body info">
                                    <h4 class="card-title">Christopher Cooney, FCIA, FCAS</h4>
                                    <a class="card-text" href="https://linkedin.com/in/christophercooney">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </main>
{% endblock content %}
