{% extends "Pricing/base_enh.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading" style="text-align:center">
                    <form method="POST">
                        {% csrf_token %}
                        <input class="btn btn-outline-dark btn-lg action-button" type="Submit" name="Back to Game Select" value="Back to Game Select"></input>
                        <input class="btn btn-outline-dark btn-lg action-button" type="Submit" name="Refresh Listing" value="Refresh Listing"></input>
                    </form>
                </div>
                <div class="block-heading" style="text-align: left">
                    <h3>Click to Observe Game:</h3>
                    <ul id="accessible-games-list">
                        {% for game in accessible_games %}
                            <li>
                                <a href="{% url 'Pricing-game_dashboard' game_id=game.game_id %}">
                                    {{ game.timestamp|date:"SHORT_DATETIME_FORMAT" }} - {{ game.status }} - {{ game.initiator }} - {{ game.game_type }}
                                </a>
                            </li>
                            {% empty %}
                                <li>No games completed / running presently.</li>
                                <br/>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
