{% extends "Pricing/base_enh.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
        <main class="page landing-page">
            <section class="clean-block clean-form dark">
                <div class="container">
                    <div class="block-heading">
                        <h3 class="text-info">Login:</h3>

                        <div class="content-section">
                        <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group mt-2 mb-2">
                            <button class="btn btn-light action-button" type="submit" style="color: var(--bs-gray-900);background: #e7bb3f;">Login</button>
                        </div>
                        </form>
                                                        <br/>
                            <small class="text-muted">
                            Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                            </small>

                        </div>
                    </div>

                </div>
            </section>
        </main>
{% endblock content %}